.outermost-div {
  margin: 0;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("static/background-graph.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  overflow-y: scroll;
}

.wrapper-div {
  min-height: calc(100vh - 50px);
}
