<div>
  <h1 class="stock-search-header text-center">STOCK SEARCH</h1>
  <form class="mx-5" (ngSubmit)="onSubmit(stockForm.value)">
    <div class="input-group mx-auto" id="stock-search-buttons">
      <input
        type="text"
        placeholder="Enter stock ticker symbol"
        class="form-control m-0 border-0"
        id="stock-search-input-text"
        [formControl]="stockForm"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="setTicker">
        <mat-option *ngIf="isLoading"
          ><mat-spinner diameter="40"></mat-spinner
        ></mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option
            *ngFor="let option of options"
            [value]="option"
            (onSelectionChange)="onSubmit(option.displaySymbol)"
          >
            {{ option.symbol }} | {{ option.description }}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
      <div>
        <button
          type="submit"
          class="btn btn-link text-primary m-0 border-0"
          (click)="onSubmit(stockForm.value)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </button>
        <button
          type="button"
          (click)="onClear()"
          class="btn btn-link text-primary m-0 border-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-x-lg"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"
            />
            <path
              fill-rule="evenodd"
              d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"
            />
          </svg>
        </button>
      </div>
    </div>
  </form>
</div>
