<div class="mx-auto watchlist-wrapper">
  <div class="container my-5 p-0">
    <h1 class="watchlist-header mx-2">My Watchlist</h1>
  </div>
  <div class="container my-0 p-0">
    <ngb-alert [dismissible]="false" *ngIf="isEmpty" class="mx-3 text-center text-dark">Currently you don't have any
      stock
      in your watchlist.
    </ngb-alert>
    <div *ngIf="watchListDone && !isEmpty">
      <ngb-alert type="alert.type" *ngFor="let stock of watchList" class="card p-0 my-3 mx-2 border stock-card"
        (closed)="removeFromWatchList(stock.ticker)">
        <div class="row mx-4 my-3" (click)="redirectToStock(stock.ticker)">
          <div class="col">
            <h3 class="m-0 p-0 flex-row item-ticker">
              {{ stock.ticker }}
            </h3>
            <h5 class="m-0 mt-2 p-0 flex-row text-dark item-name">
              {{ stock.name }}
            </h5>
          </div>
          <div class="col mr-0">
            <h3 class="d-flex flex-row-reverse mt-2" [class.text-success]="stock.change > 0"
              [class.text-danger]="stock.change < 0">
              {{ stock.price }}
            </h3>
            <!-- up arrow -->
            <h6 class="d-flex flex-row-reverse">
              <div [class.text-success]="stock.change > 0" [class.text-danger]="stock.change < 0">
                {{ stock.change }} ({{ stock.percentChange }}%)
              </div>
              <svg *ngIf="stock.change > 0" xmlns="http://www.w3.org/2000/svg" width="0.8em" height="0.8em" fill="green"
                class="bi bi-caret-up-fill me-1 my-auto" viewBox="0 0 16 16">
                <path
                  d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
              </svg>
              <!-- down arrow -->
              <svg *ngIf="stock.change < 0" xmlns="http://www.w3.org/2000/svg" width="0.8em" height="0.8em" fill="red"
                class="bi bi-caret-down-fill me-1 my-auto" viewBox="0 0 16 16">
                <path
                  d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
              </svg>
            </h6>
          </div>
        </div>
      </ngb-alert>
    </div>
  </div>
</div>