<!-- purchase alert -->
<ngb-alert
  *ngIf="purchaseMessage"
  type="success"
  class="text-center"
  (closed)="purchaseMessage = false"
  >{{ ticker | uppercase }} bought successfully.</ngb-alert
>

<ngb-alert
  *ngIf="sellMessage"
  type="danger"
  class="text-center"
  (closed)="purchaseMessage = false"
  >{{ ticker | uppercase }} sold successfully.</ngb-alert
>

<div>
  <div class="container mt-5 mb-3 p-0">
    <h1 class="mx-2 mb-3 portfolio-header">My Portfolio</h1>
    <h3 class="mx-2 portfolio-header">Money in wallet: ${{ money }}</h3>
  </div>
  <div class="container my-0 p-0">
    <!-- No stocks -->
    <ngb-alert
      [dismissible]="false"
      *ngIf="isEmpty"
      class="mx-2 text-center text-dark"
    >
      Currently you don't have any stock.
    </ngb-alert>

    <!-- cards -->
    <div *ngIf="!isEmpty" class="mx-auto">
      <div *ngFor="let stock of portfolio" class="card p-0 my-3 mx-2">
        <!-- header -->
        <div class="card-header py-0 px-3">
          <div class="p-1 d-flex align-items-end">
            <h2 class="m-0 p-1 portfolio-card-ticker">{{ stock.ticker }}</h2>
            <h4 class="my-0 mx-2 p-1 text-secondary">{{ stock.name }}</h4>
          </div>
        </div>

        <!-- card body -->
        <div class="card-body py-2 px-0">
          <div class="card-text row m-0 my-2 px-0 mx-2">
            <!-- first set of columns -->
            <div class="col-sm">
              <!-- first row -->
              <div class="row">
                <div class="col m-0 ms-md-3 ms-md-3 px-1">Quantity:</div>
                <div class="col mx-md-3 text-end">
                  {{ stock.quantity | number: "1.0-2" }}
                </div>
              </div>
              <!-- second row -->
              <div class="row">
                <div class="col m-0 ms-md-3 px-1">Avg. Cost/Share:</div>
                <div class="col mx-md-3 text-end">
                  {{ stock.totalCost / stock.quantity | number: "1.0-2" }}
                </div>
              </div>
              <!-- third row -->
              <div class="row">
                <div class="col m-0 ms-md-3 px-1">Total Cost:</div>
                <div class="col mx-md-3 text-end">
                  {{ stock.totalCost | number: "1.0-2" }}
                </div>
              </div>
            </div>
            <!-- second set of columns -->
            <div class="col-sm">
              <!-- first row -->
              <div class="row">
                <div class="col m-0 ms-md-3 px-1">Change:</div>
                <div
                  class="col text-end mx-md-3"
                  [class.text-success]="stock.change > 0"
                  [class.text-danger]="stock.change < 0"
                >
                  <div
                    [class.text-success]="stock.change > 0"
                    [class.text-danger]="stock.change < 0"
                  >
                    <!-- up arrow -->
                    <svg
                      *ngIf="stock.change > 0"
                      xmlns="http://www.w3.org/2000/svg"
                      width="0.7em"
                      height="0.7em"
                      fill="green"
                      class="bi bi-caret-up-fill m-0 my-auto d-none d-md-inline"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
                      />
                    </svg>
                    <!-- down arrow -->
                    <svg
                      *ngIf="stock.change < 0"
                      xmlns="http://www.w3.org/2000/svg"
                      width="0.7em"
                      height="0.7em"
                      fill="red"
                      class="bi bi-caret-down-fill m-0 my-auto d-none d-md-inline"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
                      />
                    </svg>
                    {{ stock.change | number: "1.0-2" }}
                  </div>
                </div>
              </div>
              <!-- second row -->
              <div class="row">
                <div class="col m-0 ms-md-3 px-1">Current Price:</div>
                <div
                  class="col text-end mx-md-3"
                  [class.text-success]="stock.change > 0"
                  [class.text-danger]="stock.change < 0"
                >
                  {{ stock.currentPrice | number: "1.0-2" }}
                </div>
              </div>
              <!-- third row -->
              <div class="row">
                <div class="col m-0 ms-md-3 px-1">Market Value:</div>
                <div
                  class="col text-end mx-md-3"
                  [class.text-success]="stock.change > 0"
                  [class.text-danger]="stock.change < 0"
                >
                  {{ stock.marketValue | number: "1.0-2" }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- card footer -->
        <div class="card-footer py-2 d-flex justify-content-end">
          <button
            class="btn btn-primary mx-2 border-0"
            (click)="
              openTransaction(
                stock.ticker,
                stock.name,
                stock.currentPrice,
                'buy'
              )
            "
          >
            Buy
          </button>
          <button
            class="btn btn-primary mx-2 bg-danger border-0"
            (click)="
              openTransaction(
                stock.ticker,
                stock.name,
                stock.currentPrice,
                'sell'
              )
            "
          >
            Sell
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
