<!-- modal header -->
<div class="modal-header">
  <div class="modal-title">
    <h5 class="ms-1 mb-3 mt-0">{{ ticker }}</h5>
  </div>
  <button
    type="button"
    class="close-modal-button p-0 border-0 mb-3 mt-0"
    aria-label="Close"
    (click)="modalService.close()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="currentColor"
      class="bi bi-x-lg"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"
      />
      <path
        fill-rule="evenodd"
        d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"
      />
    </svg>
  </button>
</div>

<!-- modal body -->
<div class="modal-body">
  &nbsp;&nbsp;Current Price: {{ price | number: "1.0-2" }}<br />
  &nbsp;&nbsp;Money in wallet: {{ money | number: "1.2" }}<br />
  &nbsp;&nbsp;Quantity 
  <input (change)="checkIfValidInput()" type="number" min="0" [(ngModel)]="inputQuantity" /><br />
  <p class="text-danger mt-2" *ngIf="noStocks">
    &nbsp;&nbsp;You cannot sell the stocks you don't have!
  </p>
  <p class="text-danger mt-2" *ngIf="noMoney">
    &nbsp;&nbsp;Not enough money in wallet!
  </p>
</div>

<!-- modal footer -->
<div class="modal-footer">
  <p class="me-auto">Total : {{ inputQuantity * price | number: "1.2" }}</p>
  <button
    type="button"
    [disabled]="!inputQuantity || noStocks || noMoney"
    class="border btn border-0 text-white btn-outline-dark bg-success"
  >
    {{ opt.charAt(0).toUpperCase() + opt.slice(1) }}
  </button>
</div>
